/* Custom CSS for the plan columns */
.plan-column {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.plan-details {
    list-style-type: none;
    padding: 0;
}

    .plan-details li {
        margin-bottom: 10px;
    }

/* Custom CSS for navigation buttons */
.btn-container {
    margin-top: 20px;
}

.manual-prev,
.manual-next {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

    .manual-prev:hover,
    .manual-next:hover {
        background-color: #0056b3;
    }
